<a href="https://colab.research.google.com/github/asangphukieo/delfi/blob/main/MTD_MMoE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras import backend as K
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.initializers import VarianceScaling
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras.models import Model
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.callbacks import Callback
from sklearn.metrics import roc_auc_score

import sys,os
os.system("wget https://raw.githubusercontent.com/drawbridge/keras-mmoe/master/mmoe.py")
os.system("wget https://raw.githubusercontent.com/drawbridge/keras-mmoe/master/data/census-income.data.gz")
os.system("wget https://raw.githubusercontent.com/drawbridge/keras-mmoe/master/data/census-income.test.gz")
os.system("wget https://raw.githubusercontent.com/asangphukieo/delfi/main/feature_ratioxdeepfrag.csv")


from mmoe import MMoE

SEED = 1

In [ ]:

# Fix numpy seed for reproducibility
np.random.seed(SEED)

# Fix random seed for reproducibility
random.seed(SEED)

# Fix TensorFlow graph-level seed for reproducibility
tf.random.set_seed(SEED)

# Simple callback to print out ROC-AUC
class ROCCallback(Callback):
    def __init__(self, training_data, validation_data, test_data):
        self.train_X = training_data[0]
        self.train_Y = training_data[1]
        self.validation_X = validation_data[0]
        self.validation_Y = validation_data[1]
        self.test_X = test_data[0]
        self.test_Y = test_data[1]

    def on_train_begin(self, logs={}):
        return

    def on_train_end(self, logs={}):
        return

    def on_epoch_begin(self, epoch, logs={}):
        return

    def on_epoch_end(self, epoch, logs={}):
        train_prediction = self.model.predict(self.train_X)
        validation_prediction = self.model.predict(self.validation_X)
        test_prediction = self.model.predict(self.test_X)

        # Iterate through each task and output their ROC-AUC across different datasets
        for index, output_name in enumerate(self.model.output_names):
            train_roc_auc = roc_auc_score(self.train_Y[index], train_prediction[index])
            validation_roc_auc = roc_auc_score(self.validation_Y[index], validation_prediction[index])
            test_roc_auc = roc_auc_score(self.test_Y[index], test_prediction[index])
            print(
                'ROC-AUC-{}-Train: {} ROC-AUC-{}-Validation: {} ROC-AUC-{}-Test: {}'.format(
                    output_name, round(train_roc_auc, 4),
                    output_name, round(validation_roc_auc, 4),
                    output_name, round(test_roc_auc, 4)
                )
            )

        return

    def on_batch_begin(self, batch, logs={}):
        return

    def on_batch_end(self, batch, logs={}):
        return

In [ ]:
    # The column names are from
    # https://www2.1010data.com/documentationcenter/prod/Tutorials/MachineLearningExamples/CensusIncomeDataSet.html
    column_names = ['age', 'class_worker', 'det_ind_code', 'det_occ_code', 'education', 'wage_per_hour', 'hs_college',
                    'marital_stat', 'major_ind_code', 'major_occ_code', 'race', 'hisp_origin', 'sex', 'union_member',
                    'unemp_reason', 'full_or_part_emp', 'capital_gains', 'capital_losses', 'stock_dividends',
                    'tax_filer_stat', 'region_prev_res', 'state_prev_res', 'det_hh_fam_stat', 'det_hh_summ',
                    'instance_weight', 'mig_chg_msa', 'mig_chg_reg', 'mig_move_reg', 'mig_same', 'mig_prev_sunbelt',
                    'num_emp', 'fam_under_18', 'country_father', 'country_mother', 'country_self', 'citizenship',
                    'own_or_self', 'vet_question', 'vet_benefits', 'weeks_worked', 'year', 'income_50k']

    # Load the dataset in Pandas
    train_df = pd.read_csv(
        'census-income.data.gz',
        delimiter=',',
        header=None,
        index_col=None,
        names=column_names
    )
    other_df = pd.read_csv(
        'census-income.test.gz',
        delimiter=',',
        header=None,
        index_col=None,
        names=column_names
    )

In [ ]:
train_df

,age,class_worker,det_ind_code,det_occ_code,education,wage_per_hour,hs_college,marital_stat,major_ind_code,major_occ_code,...,country_father,country_mother,country_self,citizenship,own_or_self,vet_question,vet_benefits,weeks_worked,year,income_50k
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199518,87,Not in universe,0,0,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Canada,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
199519,65,Self-employed-incorporated,37,2,11th grade,0,Not in universe,Married-civilian spouse present,Business and repair services,Executive admin and managerial,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
199520,47,Not in universe,0,0,Some college but no degree,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,Poland,Poland,Germany,Foreign born- U S citizen by naturalization,0,Not in universe,2,52,95,- 50000.
199521,16,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
199522,32,Private,42,30,High school graduate,0,Not in universe,Never married,Medical except hospital,Other service,...,?,?,?,Foreign born- Not a citizen of U S,0,Not in universe,2,52,94,- 50000.

In [ ]:
# First group of tasks according to the paper
label_columns = ['income_50k', 'marital_stat','country_self']
label_columns

['income_50k', 'marital_stat', 'country_self']

In [ ]:
categorical_columns = ['class_worker', 'det_ind_code', 'det_occ_code', 'education', 'hs_college', 'major_ind_code',
                        'major_occ_code', 'race', 'hisp_origin', 'sex', 'union_member', 'unemp_reason',
                        'full_or_part_emp', 'tax_filer_stat', 'region_prev_res', 'state_prev_res', 'det_hh_fam_stat',
                        'det_hh_summ', 'mig_chg_msa', 'mig_chg_reg', 'mig_move_reg', 'mig_same', 'mig_prev_sunbelt',
                        'fam_under_18', 'country_father', 'country_mother', 'citizenship',
                        'vet_question']
train_raw_labels = train_df[label_columns]
other_raw_labels = other_df[label_columns]
train_raw_labels

       income_50k                      marital_stat    country_self
0        - 50000.                           Widowed   United-States
1        - 50000.                          Divorced   United-States
2        - 50000.                     Never married         Vietnam
3        - 50000.                     Never married   United-States
4        - 50000.                     Never married   United-States
...           ...                               ...             ...
199518   - 50000.   Married-civilian spouse present   United-States
199519   - 50000.   Married-civilian spouse present   United-States
199520   - 50000.   Married-civilian spouse present         Germany
199521   - 50000.                     Never married   United-States
199522   - 50000.                     Never married               ?

[199523 rows x 3 columns]

In [ ]:
transformed_train = pd.get_dummies(train_df.drop(label_columns, axis=1), columns=categorical_columns)
transformed_other = pd.get_dummies(other_df.drop(label_columns, axis=1), columns=categorical_columns)

In [ ]:
transformed_other

,age,wage_per_hour,capital_gains,capital_losses,stock_dividends,instance_weight,num_emp,own_or_self,vet_benefits,weeks_worked,...,country_mother_ Vietnam,country_mother_ Yugoslavia,citizenship_ Foreign born- Not a citizen of U S,citizenship_ Foreign born- U S citizen by naturalization,citizenship_ Native- Born abroad of American Parent(s),citizenship_ Native- Born in Puerto Rico or U S Outlying,citizenship_ Native- Born in the United States,vet_question_ No,vet_question_ Not in universe,vet_question_ Yes
0,38,0,0,0,0,1032.38,4,0,2,12,...,0,0,1,0,0,0,0,0,1,0
1,44,0,0,0,2500,1462.33,1,0,2,26,...,0,0,0,0,0,0,1,0,1,0
2,2,0,0,0,0,1601.75,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,35,0,0,0,0,1866.88,5,2,2,52,...,0,0,0,0,0,0,1,0,1,0
4,49,0,0,0,0,1394.54,4,0,2,50,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99757,14,0,0,0,0,1708.85,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
99758,61,0,0,0,0,2511.11,4,0,2,52,...,0,0,0,0,0,0,1,0,1,0
99759,24,0,0,0,0,2083.76,2,0,2,52,...,0,0,0,1,0,0,0,0,1,0
99760,30,0,0,0,0,1680.06,5,0,2,52,...,0,0,0,0,0,0,1,0,1,0
99761,67,0,0,0,0,1582.48,0,0,2,0,...,0,0,0,0,0,0,1,0,1,0

In [ ]:
# Filling the missing column in the other set
transformed_other['det_hh_fam_stat_ Grandchild <18 ever marr not in subfamily'] = 0

In [ ]:
train_income = to_categorical((train_raw_labels.income_50k == ' 50000+.').astype(int), num_classes=2)
train_country_self = to_categorical((train_raw_labels.country_self == ' United-States').astype(int), num_classes=2)

other_income = to_categorical((other_raw_labels.income_50k == ' 50000+.').astype(int), num_classes=2)
other_country_self = to_categorical((other_raw_labels.country_self == 'United-States').astype(int), num_classes=2)

In [ ]:
set(train_raw_labels.country_self)

{' ?',
 ' Cambodia',
 ' Canada',
 ' China',
 ' Columbia',
 ' Cuba',
 ' Dominican-Republic',
 ' Ecuador',
 ' El-Salvador',
 ' England',
 ' France',
 ' Germany',
 ' Greece',
 ' Guatemala',
 ' Haiti',
 ' Holand-Netherlands',
 ' Honduras',
 ' Hong Kong',
 ' Hungary',
 ' India',
 ' Iran',
 ' Ireland',
 ' Italy',
 ' Jamaica',
 ' Japan',
 ' Laos',
 ' Mexico',
 ' Nicaragua',
 ' Outlying-U S (Guam USVI etc)',
 ' Panama',
 ' Peru',
 ' Philippines',
 ' Poland',
 ' Portugal',
 ' Puerto-Rico',
 ' Scotland',
 ' South Korea',
 ' Taiwan',
 ' Thailand',
 ' Trinadad&Tobago',
 ' United-States',
 ' Vietnam',
 ' Yugoslavia'}

In [ ]:
uniq_marital = sorted(set(train_raw_labels.marital_stat))
index =dict(enumerate(uniq_marital))
index[0]

' Divorced'

In [ ]:
def text2index(text,dict_target):
  for i in dict_target:
    if dict_target[i] == text:
      #print(dict_target[i])
      return i
text2index(" Never married",index)

4

In [ ]:
def index2text(number,dict_target):
    return dict_target[number] 

index2text(0,index)

' Divorced'

In [ ]:
# One-hot encoding categorical labels
train_marital = to_categorical(train_raw_labels.marital_stat.apply(text2index, dict_target=index),num_classes=7)
other_marital = to_categorical(other_raw_labels.marital_stat.apply(text2index, dict_target=index),num_classes=7)

In [ ]:
train_country_self

array([[0., 1.],
       [0., 1.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]], dtype=float32)

In [ ]:
other_marital

array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.]], dtype=float32)

In [ ]:
dict_outputs = {
    'income': train_income.shape[1],
    'marital': train_marital.shape[1],
    'country_self': train_country_self.shape[1]

}
dict_train_labels = {
    'income': train_income,
    'marital': train_marital,
    'country_self': train_country_self
}
dict_other_labels = {
    'income': other_income,
    'marital': other_marital,
    'country_self': other_country_self
}
output_info = [(dict_outputs[key], key) for key in sorted(dict_outputs.keys())]

In [ ]:
output_info

[(2, 'country_self'), (2, 'income'), (7, 'marital')]

In [ ]:
 transformed_other.iloc[3]

age                                                           35.0
wage_per_hour                                                  0.0
capital_gains                                                  0.0
capital_losses                                                 0.0
stock_dividends                                                0.0
                                                              ...
citizenship_ Native- Born in the United States                 1.0
vet_question_ No                                               0.0
vet_question_ Not in universe                                  1.0
vet_question_ Yes                                              0.0
det_hh_fam_stat_ Grandchild <18 ever marr not in subfamily     0.0
Name: 3, Length: 456, dtype: float64

In [ ]:
validation_indices

Int64Index([68068, 63683, 67714, 26690, 29516, 66480, 81648, 62932, 59304,
            26071,
            ...
            83661,  8309, 11829, 42298, 98726, 49251, 15354, 61545, 84639,
            92186],
           dtype='int64', length=49881)

In [ ]:

# Split the other dataset into 1:1 validation to test according to the paper
validation_indices = transformed_other.sample(frac=0.5, replace=False, random_state=SEED).index
test_indices = list(set(transformed_other.index) - set(validation_indices))
validation_data = transformed_other.iloc[validation_indices]
validation_label = [dict_other_labels[key][validation_indices] for key in sorted(dict_other_labels.keys())]
test_data = transformed_other.iloc[test_indices]
test_label = [dict_other_labels[key][test_indices] for key in sorted(dict_other_labels.keys())]
train_data = transformed_train
train_label = [dict_train_labels[key] for key in sorted(dict_train_labels.keys())]

In [ ]:
validation_indices

Int64Index([68068, 63683, 67714, 26690, 29516, 66480, 81648, 62932, 59304,
            26071,
            ...
            83661,  8309, 11829, 42298, 98726, 49251, 15354, 61545, 84639,
            92186],
           dtype='int64', length=49881)

In [ ]:
train_data

,age,wage_per_hour,capital_gains,capital_losses,stock_dividends,instance_weight,num_emp,own_or_self,vet_benefits,weeks_worked,...,country_mother_ Vietnam,country_mother_ Yugoslavia,citizenship_ Foreign born- Not a citizen of U S,citizenship_ Foreign born- U S citizen by naturalization,citizenship_ Native- Born abroad of American Parent(s),citizenship_ Native- Born in Puerto Rico or U S Outlying,citizenship_ Native- Born in the United States,vet_question_ No,vet_question_ Not in universe,vet_question_ Yes
0,73,0,0,0,0,1700.09,0,0,2,0,...,0,0,0,0,0,0,1,0,1,0
1,58,0,0,0,0,1053.55,1,0,2,52,...,0,0,0,0,0,0,1,0,1,0
2,18,0,0,0,0,991.95,0,0,2,0,...,1,0,1,0,0,0,0,0,1,0
3,9,0,0,0,0,1758.14,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
4,10,0,0,0,0,1069.16,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199518,87,0,0,0,0,955.27,0,0,2,0,...,0,0,0,0,0,0,1,0,1,0
199519,65,0,6418,0,9,687.19,1,0,2,52,...,0,0,0,0,0,0,1,0,1,0
199520,47,0,0,0,157,1923.03,6,0,2,52,...,0,0,0,1,0,0,0,0,1,0
199521,16,0,0,0,0,4664.87,0,0,2,0,...,0,0,0,0,0,0,1,0,1,0
199522,32,0,0,0,0,1830.11,6,0,2,52,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
    #train_data, train_label, validation_data, validation_label, test_data, test_label, output_info = data_preparation()
    num_features = train_data.shape[1]

    print('Training data shape = {}'.format(train_data.shape))
    print('Validation data shape = {}'.format(validation_data.shape))
    print('Test data shape = {}'.format(test_data.shape))

    # Set up the input layer
    input_layer = Input(shape=(num_features,))

    # Set up MMoE layer
    mmoe_layers = MMoE(
        units=4,
        num_experts=8,
        num_tasks=3
    )(input_layer)

    output_layers = []

Training data shape = (199523, 456)
Validation data shape = (49881, 456)
Test data shape = (49881, 456)

In [ ]:
num_features

456

In [ ]:
    # Build tower layer from MMoE layer
    for index, task_layer in enumerate(mmoe_layers):
        tower_layer = Dense(
            units=8,
            activation='relu',
            kernel_initializer=VarianceScaling())(task_layer)
        output_layer = Dense(
            units=output_info[index][0],
            name=output_info[index][1],
            activation='softmax',
            kernel_initializer=VarianceScaling())(tower_layer)
        output_layers.append(output_layer)

    # Compile model
    model = Model(inputs=[input_layer], outputs=output_layers)
    adam_optimizer = Adam()
    model.compile(
        loss={'income': 'binary_crossentropy', 'marital': 'binary_crossentropy','country_self': 'binary_crossentropy'},
        optimizer=adam_optimizer,
        metrics=['accuracy']
    )

In [ ]:
    # Print out model architecture summary
    model.summary()

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_2 (InputLayer)           [(None, 456)]        0           []

 m_mo_e_1 (MMoE)                [(None, 4),          25592       ['input_2[0][0]']
                                 (None, 4),
                                 (None, 4)]

 dense_2 (Dense)                (None, 8)            40          ['m_mo_e_1[0][0]']

 dense_3 (Dense)                (None, 8)            40          ['m_mo_e_1[0][1]']

 dense_4 (Dense)                (None, 8)            40          ['m_mo_e_1[0][2]']

 country_self (Dense)           (None, 2)            18          ['dense_2[0][0]']

 income (Dense)                 (None, 2)            18          ['dense_3[0][0]']

 marital (Dense)                (None, 7)            63          ['dense_4[0][0]']

==================================================================================================
Total params: 25,811
Trainable params: 25,811
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
    # Train the model
    model.fit(
        x=train_data,
        y=train_label,
        validation_data=(validation_data, validation_label),
       epochs=100
    )

Epoch 1/100
6236/6236 [==============================] - 26s 4ms/step - loss: 0.7848 - country_self_loss: 0.3543 - income_loss: 0.1501 - marital_loss: 0.2805 - country_self_accuracy: 0.8871 - income_accuracy: 0.9379 - marital_accuracy: 0.4312 - val_loss: 2.6137 - val_country_self_loss: 2.1775 - val_income_loss: 0.1563 - val_marital_loss: 0.2798 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9378 - val_marital_accuracy: 0.4344
Epoch 2/100
6236/6236 [==============================] - 25s 4ms/step - loss: 0.7786 - country_self_loss: 0.3527 - income_loss: 0.1455 - marital_loss: 0.2804 - country_self_accuracy: 0.8871 - income_accuracy: 0.9379 - marital_accuracy: 0.4319 - val_loss: 2.6072 - val_country_self_loss: 2.1787 - val_income_loss: 0.1487 - val_marital_loss: 0.2798 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9378 - val_marital_accuracy: 0.4344
Epoch 3/100
6236/6236 [==============================] - 25s 4ms/step - loss: 0.7768 - country_self_loss: 0.3527 - income_loss: 0.1437 - marital_loss: 0.2804 - country_self_accuracy: 0.8871 - income_accuracy: 0.9379 - marital_accuracy: 0.4316 - val_loss: 2.6127 - val_country_self_loss: 2.1570 - val_income_loss: 0.1759 - val_marital_loss: 0.2798 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9378 - val_marital_accuracy: 0.4344
Epoch 4/100
6236/6236 [==============================] - 24s 4ms/step - loss: 0.7752 - country_self_loss: 0.3527 - income_loss: 0.1422 - marital_loss: 0.2804 - country_self_accuracy: 0.8871 - income_accuracy: 0.9379 - marital_accuracy: 0.4323 - val_loss: 2.5980 - val_country_self_loss: 2.1719 - val_income_loss: 0.1464 - val_marital_loss: 0.2798 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9378 - val_marital_accuracy: 0.4344
Epoch 5/100
6236/6236 [==============================] - 24s 4ms/step - loss: 0.7748 - country_self_loss: 0.3527 - income_loss: 0.1417 - marital_loss: 0.2804 - country_self_accuracy: 0.8871 - income_accuracy: 0.9379 - marital_accuracy: 0.4324 - val_loss: 2.6160 - val_country_self_loss: 2.1607 - val_income_loss: 0.1754 - val_marital_loss: 0.2799 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9378 - val_marital_accuracy: 0.4221
Epoch 6/100
6236/6236 [==============================] - 24s 4ms/step - loss: 0.7734 - country_self_loss: 0.3527 - income_loss: 0.1403 - marital_loss: 0.2804 - country_self_accuracy: 0.8871 - income_accuracy: 0.9380 - marital_accuracy: 0.4310 - val_loss: 2.6507 - val_country_self_loss: 2.1981 - val_income_loss: 0.1728 - val_marital_loss: 0.2798 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9302 - val_marital_accuracy: 0.4344
Epoch 7/100
6236/6236 [==============================] - 24s 4ms/step - loss: 0.7729 - country_self_loss: 0.3527 - income_loss: 0.1398 - marital_loss: 0.2804 - country_self_accuracy: 0.8871 - income_accuracy: 0.9378 - marital_accuracy: 0.4316 - val_loss: 2.6086 - val_country_self_loss: 2.1590 - val_income_loss: 0.1698 - val_marital_loss: 0.2798 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9378 - val_marital_accuracy: 0.4344
Epoch 8/100
6236/6236 [==============================] - 25s 4ms/step - loss: 0.7717 - country_self_loss: 0.3527 - income_loss: 0.1386 - marital_loss: 0.2804 - country_self_accuracy: 0.8871 - income_accuracy: 0.9386 - marital_accuracy: 0.4313 - val_loss: 2.6512 - val_country_self_loss: 2.1968 - val_income_loss: 0.1747 - val_marital_loss: 0.2798 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9378 - val_marital_accuracy: 0.4344
Epoch 9/100
6236/6236 [==============================] - 25s 4ms/step - loss: 0.7700 - country_self_loss: 0.3527 - income_loss: 0.1370 - marital_loss: 0.2804 - country_self_accuracy: 0.8871 - income_accuracy: 0.9396 - marital_accuracy: 0.4321 - val_loss: 2.6242 - val_country_self_loss: 2.1815 - val_income_loss: 0.1630 - val_marital_loss: 0.2798 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9378 - val_marital_accuracy: 0.4344
Epoch 10/100
6236/6236 [==============================] - 26s 4ms/step - loss: 0.7707 - country_self_loss: 0.3527 - income_loss: 0.1377 - marital_loss: 0.2804 - country_self_accuracy: 0.8871 - income_accuracy: 0.9381 - marital_accuracy: 0.4319 - val_loss: 2.6062 - val_country_self_loss: 2.1660 - val_income_loss: 0.1604 - val_marital_loss: 0.2798 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9353 - val_marital_accuracy: 0.4344
Epoch 11/100
6236/6236 [==============================] - 25s 4ms/step - loss: 0.7677 - country_self_loss: 0.3527 - income_loss: 0.1346 - marital_loss: 0.2804 - country_self_accuracy: 0.8871 - income_accuracy: 0.9434 - marital_accuracy: 0.4313 - val_loss: 2.6258 - val_country_self_loss: 2.1655 - val_income_loss: 0.1806 - val_marital_loss: 0.2798 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9337 - val_marital_accuracy: 0.4344
Epoch 12/100
6236/6236 [==============================] - 26s 4ms/step - loss: 0.7402 - country_self_loss: 0.3527 - income_loss: 0.1354 - marital_loss: 0.2521 - country_self_accuracy: 0.8871 - income_accuracy: 0.9430 - marital_accuracy: 0.5397 - val_loss: 2.6552 - val_country_self_loss: 2.1588 - val_income_loss: 0.1907 - val_marital_loss: 0.3057 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9416 - val_marital_accuracy: 0.4680
Epoch 13/100
6236/6236 [==============================] - 24s 4ms/step - loss: 0.6368 - country_self_loss: 0.3527 - income_loss: 0.1332 - marital_loss: 0.1509 - country_self_accuracy: 0.8871 - income_accuracy: 0.9454 - marital_accuracy: 0.8089 - val_loss: 2.5952 - val_country_self_loss: 2.1741 - val_income_loss: 0.1716 - val_marital_loss: 0.2496 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9415 - val_marital_accuracy: 0.6802
Epoch 14/100
6236/6236 [==============================] - 24s 4ms/step - loss: 0.6056 - country_self_loss: 0.3527 - income_loss: 0.1342 - marital_loss: 0.1187 - country_self_accuracy: 0.8871 - income_accuracy: 0.9459 - marital_accuracy: 0.8239 - val_loss: 2.5796 - val_country_self_loss: 2.2095 - val_income_loss: 0.2007 - val_marital_loss: 0.1693 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9433 - val_marital_accuracy: 0.7745
Epoch 15/100
6236/6236 [==============================] - 24s 4ms/step - loss: 0.6011 - country_self_loss: 0.3527 - income_loss: 0.1353 - marital_loss: 0.1131 - country_self_accuracy: 0.8871 - income_accuracy: 0.9431 - marital_accuracy: 0.8290 - val_loss: 2.5646 - val_country_self_loss: 2.1591 - val_income_loss: 0.2328 - val_marital_loss: 0.1728 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9428 - val_marital_accuracy: 0.7606
Epoch 16/100
6236/6236 [==============================] - 25s 4ms/step - loss: 0.6037 - country_self_loss: 0.3526 - income_loss: 0.1366 - marital_loss: 0.1145 - country_self_accuracy: 0.8871 - income_accuracy: 0.9454 - marital_accuracy: 0.8274 - val_loss: 2.6012 - val_country_self_loss: 2.1460 - val_income_loss: 0.2533 - val_marital_loss: 0.2019 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9408 - val_marital_accuracy: 0.7285
Epoch 17/100
6236/6236 [==============================] - 26s 4ms/step - loss: 0.6002 - country_self_loss: 0.3527 - income_loss: 0.1345 - marital_loss: 0.1130 - country_self_accuracy: 0.8871 - income_accuracy: 0.9463 - marital_accuracy: 0.8289 - val_loss: 2.6722 - val_country_self_loss: 2.2488 - val_income_loss: 0.2097 - val_marital_loss: 0.2137 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9442 - val_marital_accuracy: 0.7037
Epoch 18/100
6236/6236 [==============================] - 26s 4ms/step - loss: 0.6031 - country_self_loss: 0.3527 - income_loss: 0.1384 - marital_loss: 0.1120 - country_self_accuracy: 0.8871 - income_accuracy: 0.9406 - marital_accuracy: 0.8330 - val_loss: 2.5182 - val_country_self_loss: 2.1652 - val_income_loss: 0.1909 - val_marital_loss: 0.1621 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9432 - val_marital_accuracy: 0.7562
Epoch 19/100
6236/6236 [==============================] - 27s 4ms/step - loss: 0.5979 - country_self_loss: 0.3527 - income_loss: 0.1368 - marital_loss: 0.1085 - country_self_accuracy: 0.8871 - income_accuracy: 0.9419 - marital_accuracy: 0.8308 - val_loss: 2.5580 - val_country_self_loss: 2.1560 - val_income_loss: 0.2221 - val_marital_loss: 0.1799 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9373 - val_marital_accuracy: 0.7845
Epoch 20/100
6236/6236 [==============================] - 27s 4ms/step - loss: 0.6008 - country_self_loss: 0.3527 - income_loss: 0.1404 - marital_loss: 0.1078 - country_self_accuracy: 0.8871 - income_accuracy: 0.9423 - marital_accuracy: 0.8303 - val_loss: 2.6105 - val_country_self_loss: 2.1913 - val_income_loss: 0.2348 - val_marital_loss: 0.1844 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9393 - val_marital_accuracy: 0.7332
Epoch 21/100
6236/6236 [==============================] - 29s 5ms/step - loss: 0.5973 - country_self_loss: 0.3527 - income_loss: 0.1372 - marital_loss: 0.1074 - country_self_accuracy: 0.8871 - income_accuracy: 0.9452 - marital_accuracy: 0.8283 - val_loss: 2.6676 - val_country_self_loss: 2.1918 - val_income_loss: 0.2414 - val_marital_loss: 0.2344 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9425 - val_marital_accuracy: 0.6832
Epoch 22/100
6236/6236 [==============================] - 26s 4ms/step - loss: 0.5881 - country_self_loss: 0.3527 - income_loss: 0.1338 - marital_loss: 0.1016 - country_self_accuracy: 0.8871 - income_accuracy: 0.9480 - marital_accuracy: 0.8318 - val_loss: 2.6561 - val_country_self_loss: 2.1832 - val_income_loss: 0.2454 - val_marital_loss: 0.2275 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9417 - val_marital_accuracy: 0.7540
Epoch 23/100
6236/6236 [==============================] - 26s 4ms/step - loss: 0.5981 - country_self_loss: 0.3527 - income_loss: 0.1390 - marital_loss: 0.1064 - country_self_accuracy: 0.8871 - income_accuracy: 0.9481 - marital_accuracy: 0.8271 - val_loss: 2.6812 - val_country_self_loss: 2.2234 - val_income_loss: 0.2393 - val_marital_loss: 0.2184 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9401 - val_marital_accuracy: 0.7018
Epoch 24/100
6236/6236 [==============================] - 26s 4ms/step - loss: 0.5936 - country_self_loss: 0.3527 - income_loss: 0.1371 - marital_loss: 0.1039 - country_self_accuracy: 0.8871 - income_accuracy: 0.9484 - marital_accuracy: 0.8283 - val_loss: 2.6892 - val_country_self_loss: 2.1836 - val_income_loss: 0.2674 - val_marital_loss: 0.2382 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9408 - val_marital_accuracy: 0.7100
Epoch 25/100
6236/6236 [==============================] - 25s 4ms/step - loss: 0.5922 - country_self_loss: 0.3527 - income_loss: 0.1361 - marital_loss: 0.1034 - country_self_accuracy: 0.8871 - income_accuracy: 0.9491 - marital_accuracy: 0.8319 - val_loss: 2.6937 - val_country_self_loss: 2.1980 - val_income_loss: 0.2594 - val_marital_loss: 0.2362 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9411 - val_marital_accuracy: 0.7182
Epoch 26/100
6236/6236 [==============================] - 26s 4ms/step - loss: 0.5853 - country_self_loss: 0.3527 - income_loss: 0.1327 - marital_loss: 0.0999 - country_self_accuracy: 0.8871 - income_accuracy: 0.9496 - marital_accuracy: 0.8341 - val_loss: 2.9045 - val_country_self_loss: 2.1605 - val_income_loss: 0.3344 - val_marital_loss: 0.4096 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9395 - val_marital_accuracy: 0.5815
Epoch 27/100
6236/6236 [==============================] - 26s 4ms/step - loss: 0.5927 - country_self_loss: 0.3527 - income_loss: 0.1347 - marital_loss: 0.1054 - country_self_accuracy: 0.8871 - income_accuracy: 0.9491 - marital_accuracy: 0.8350 - val_loss: 2.6908 - val_country_self_loss: 2.1775 - val_income_loss: 0.2238 - val_marital_loss: 0.2895 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9468 - val_marital_accuracy: 0.6707
Epoch 28/100
6236/6236 [==============================] - 27s 4ms/step - loss: 0.5899 - country_self_loss: 0.3526 - income_loss: 0.1356 - marital_loss: 0.1017 - country_self_accuracy: 0.8871 - income_accuracy: 0.9485 - marital_accuracy: 0.8351 - val_loss: 2.6429 - val_country_self_loss: 2.1568 - val_income_loss: 0.2435 - val_marital_loss: 0.2425 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9431 - val_marital_accuracy: 0.7130
Epoch 29/100
6236/6236 [==============================] - 26s 4ms/step - loss: 0.5876 - country_self_loss: 0.3527 - income_loss: 0.1353 - marital_loss: 0.0996 - country_self_accuracy: 0.8871 - income_accuracy: 0.9480 - marital_accuracy: 0.8365 - val_loss: 2.6962 - val_country_self_loss: 2.1809 - val_income_loss: 0.2319 - val_marital_loss: 0.2833 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9410 - val_marital_accuracy: 0.6961
Epoch 30/100
6236/6236 [==============================] - 26s 4ms/step - loss: 0.5911 - country_self_loss: 0.3527 - income_loss: 0.1404 - marital_loss: 0.0980 - country_self_accuracy: 0.8871 - income_accuracy: 0.9466 - marital_accuracy: 0.8420 - val_loss: 2.8135 - val_country_self_loss: 2.1928 - val_income_loss: 0.2583 - val_marital_loss: 0.3625 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9448 - val_marital_accuracy: 0.6095
Epoch 31/100
6236/6236 [==============================] - 26s 4ms/step - loss: 0.5846 - country_self_loss: 0.3527 - income_loss: 0.1344 - marital_loss: 0.0975 - country_self_accuracy: 0.8871 - income_accuracy: 0.9479 - marital_accuracy: 0.8404 - val_loss: 2.7939 - val_country_self_loss: 2.2051 - val_income_loss: 0.2399 - val_marital_loss: 0.3489 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9384 - val_marital_accuracy: 0.6224
Epoch 32/100
6236/6236 [==============================] - 28s 4ms/step - loss: 0.5865 - country_self_loss: 0.3527 - income_loss: 0.1350 - marital_loss: 0.0988 - country_self_accuracy: 0.8871 - income_accuracy: 0.9495 - marital_accuracy: 0.8379 - val_loss: 2.7166 - val_country_self_loss: 2.1541 - val_income_loss: 0.2361 - val_marital_loss: 0.3264 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9417 - val_marital_accuracy: 0.6323
Epoch 33/100
6236/6236 [==============================] - 27s 4ms/step - loss: 0.5835 - country_self_loss: 0.3527 - income_loss: 0.1324 - marital_loss: 0.0984 - country_self_accuracy: 0.8871 - income_accuracy: 0.9485 - marital_accuracy: 0.8415 - val_loss: 2.6883 - val_country_self_loss: 2.1885 - val_income_loss: 0.2319 - val_marital_loss: 0.2680 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9424 - val_marital_accuracy: 0.7310
Epoch 34/100
6236/6236 [==============================] - 26s 4ms/step - loss: 0.5911 - country_self_loss: 0.3527 - income_loss: 0.1379 - marital_loss: 0.1005 - country_self_accuracy: 0.8871 - income_accuracy: 0.9444 - marital_accuracy: 0.8394 - val_loss: 2.5977 - val_country_self_loss: 2.1665 - val_income_loss: 0.2173 - val_marital_loss: 0.2139 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9415 - val_marital_accuracy: 0.7431
Epoch 35/100
6236/6236 [==============================] - 27s 4ms/step - loss: 0.5930 - country_self_loss: 0.3527 - income_loss: 0.1390 - marital_loss: 0.1013 - country_self_accuracy: 0.8871 - income_accuracy: 0.9469 - marital_accuracy: 0.8388 - val_loss: 2.6811 - val_country_self_loss: 2.1438 - val_income_loss: 0.2522 - val_marital_loss: 0.2851 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9415 - val_marital_accuracy: 0.6932
Epoch 36/100
6236/6236 [==============================] - 27s 4ms/step - loss: 0.6014 - country_self_loss: 0.3527 - income_loss: 0.1439 - marital_loss: 0.1048 - country_self_accuracy: 0.8871 - income_accuracy: 0.9473 - marital_accuracy: 0.8350 - val_loss: 2.7226 - val_country_self_loss: 2.1882 - val_income_loss: 0.2617 - val_marital_loss: 0.2727 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9383 - val_marital_accuracy: 0.7065
Epoch 37/100
6236/6236 [==============================] - 25s 4ms/step - loss: 0.5810 - country_self_loss: 0.3527 - income_loss: 0.1328 - marital_loss: 0.0956 - country_self_accuracy: 0.8871 - income_accuracy: 0.9504 - marital_accuracy: 0.8404 - val_loss: 2.8013 - val_country_self_loss: 2.1900 - val_income_loss: 0.2900 - val_marital_loss: 0.3213 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9428 - val_marital_accuracy: 0.6856
Epoch 38/100
6236/6236 [==============================] - 25s 4ms/step - loss: 0.5771 - country_self_loss: 0.3527 - income_loss: 0.1301 - marital_loss: 0.0944 - country_self_accuracy: 0.8871 - income_accuracy: 0.9497 - marital_accuracy: 0.8419 - val_loss: 2.7041 - val_country_self_loss: 2.1797 - val_income_loss: 0.2525 - val_marital_loss: 0.2719 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9425 - val_marital_accuracy: 0.7155
Epoch 39/100
6236/6236 [==============================] - 27s 4ms/step - loss: 0.5929 - country_self_loss: 0.3527 - income_loss: 0.1410 - marital_loss: 0.0993 - country_self_accuracy: 0.8871 - income_accuracy: 0.9490 - marital_accuracy: 0.8390 - val_loss: 2.6896 - val_country_self_loss: 2.2096 - val_income_loss: 0.2526 - val_marital_loss: 0.2273 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9441 - val_marital_accuracy: 0.7441
Epoch 40/100
6236/6236 [==============================] - 28s 4ms/step - loss: 0.6025 - country_self_loss: 0.3527 - income_loss: 0.1481 - marital_loss: 0.1017 - country_self_accuracy: 0.8871 - income_accuracy: 0.9470 - marital_accuracy: 0.8400 - val_loss: 2.6768 - val_country_self_loss: 2.1564 - val_income_loss: 0.2575 - val_marital_loss: 0.2630 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9428 - val_marital_accuracy: 0.7156
Epoch 41/100
6236/6236 [==============================] - 27s 4ms/step - loss: 0.5931 - country_self_loss: 0.3527 - income_loss: 0.1404 - marital_loss: 0.1000 - country_self_accuracy: 0.8871 - income_accuracy: 0.9491 - marital_accuracy: 0.8411 - val_loss: 2.6217 - val_country_self_loss: 2.1763 - val_income_loss: 0.2303 - val_marital_loss: 0.2151 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9400 - val_marital_accuracy: 0.7607
Epoch 42/100
6236/6236 [==============================] - 27s 4ms/step - loss: 0.5997 - country_self_loss: 0.3527 - income_loss: 0.1478 - marital_loss: 0.0992 - country_self_accuracy: 0.8871 - income_accuracy: 0.9467 - marital_accuracy: 0.8456 - val_loss: 2.6952 - val_country_self_loss: 2.1716 - val_income_loss: 0.2442 - val_marital_loss: 0.2795 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9407 - val_marital_accuracy: 0.6916
Epoch 43/100
6236/6236 [==============================] - 27s 4ms/step - loss: 0.5924 - country_self_loss: 0.3526 - income_loss: 0.1429 - marital_loss: 0.0969 - country_self_accuracy: 0.8871 - income_accuracy: 0.9473 - marital_accuracy: 0.8471 - val_loss: 2.7525 - val_country_self_loss: 2.1547 - val_income_loss: 0.2706 - val_marital_loss: 0.3273 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9397 - val_marital_accuracy: 0.6893
Epoch 44/100
6236/6236 [==============================] - 28s 4ms/step - loss: 0.5737 - country_self_loss: 0.3527 - income_loss: 0.1299 - marital_loss: 0.0912 - country_self_accuracy: 0.8871 - income_accuracy: 0.9498 - marital_accuracy: 0.8513 - val_loss: 2.6920 - val_country_self_loss: 2.1389 - val_income_loss: 0.2658 - val_marital_loss: 0.2873 - val_country_self_accuracy: 0.0000e+00 - val_income_accuracy: 0.9420 - val_marital_accuracy: 0.7007
Epoch 45/100

In [ ]:
model.evaluate(test_data, test_label)

1559/1559 [==============================] - 5s 3ms/step - loss: 2.7255 - country_self_loss: 2.2160 - income_loss: 0.2445 - marital_loss: 0.2651 - country_self_accuracy: 0.0000e+00 - income_accuracy: 0.9422 - marital_accuracy: 0.7348

[2.725534200668335,
 2.2160089015960693,
 0.24446551501750946,
 0.26507940888404846,
 0.0,
 0.9421623349189758,
 0.7347687482833862]